 .vision:hover,
.mission:hover {
    background-color: #E3E8F3 !important;
    cursor: pointer;
}

button {
  cursor: pointer;
  padding: 10px 20px!important;
  white-space: nowrap!important;
}

buttons:hover{
  background-color: #EA6624 ;
  color: white ;
}

link:hover{
  margin-bottom: 1px solid #EA6624 ;
}

.dropdown-item.active {
  background-color: transparent !important;
  color: #f0af8e !important;
}

.navbar-toggler-icon {
  filter: invert(1); 
  background-color: none !important;
  border: none !important;
}

.navbar-toggler {
  border: none !important;
  background: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
}
















.mobile-arrow::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-left: 6px;
  vertical-align: middle;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

@media (min-width: 992px) {
  .mobile-arrow {
    display: none;
  }
}

@media (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}


/* 📱 MOBILE ONLY */
@media (max-width: 991px) {
  .nav-link.dropdown-toggle::after {
    display: none !important;
  }
}














@media (max-width: 991px) {

 
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active,
  .nav-link.active,
  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item:active,
  .dropdown-item.active {
    background-color: transparent !important;
    color: inherit !important;
    border-bottom: none !important; 
  }

}





button:hover{
  background-color: #EA6624;
  color: white;
}

.nav-link.active {
  border-bottom: 4px solid #f0af8e;
  color: #f0af8e !important;
}

.nav-link:hover {
  border-bottom: 4px solid #f0af8e;
  color: #f0af8e !important;
}

@media (min-width: 992px) {
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important;
  color: #f0af8e !important; 
}



.dropdown-menu {
  min-width: 400px; 
}



   
.nav-link.active {
  border-bottom: 4px solid #f0af8e;
  color: #f0af8e !important;
}

.nav-link:hover {
  border-bottom: 4px solid #f0af8e;
  color: #f0af8e !important;
}



  .carousel-item {
  position: relative;
}

.bg-txt {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 600px;
  opacity: 0;
}

.bg-txt h1 {
  line-height: 1.5;
 
}


.mobile-accordion img {
  max-width: 220px;
  width: 100%;
  height: auto;
}




.carousel-item.active .bg-txt {
  animation: fadeUp 1s ease forwards;
  
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(-50%);
  }
}



.panels {
  position: relative;
  height: 100vh;
   overflow: hidden;
    display: flex;
  height: 100vh;
}
.badge-vertical {
  position: absolute;
  top: 50%;
  right: 0;

  
  transform: translate(35%, -50%) rotate(90deg);

  transform-origin: center;

  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 14px;

  padding: 6px 12px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border-radius: 4px;

  z-index: 3;
}


.bg-layer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;

  opacity: 0;
  transform: translateX(-60px);

  transition: 
    opacity 0.7s cubic-bezier(0.77, 0, 0.18, 1),
    transform 0.7s cubic-bezier(0.77, 0, 0.18, 1);

  z-index: 0;
}

.bg-layer.active {
  opacity: 1;
  transform: translateX(0);
}

.bg1 { background-image: url('assets/tile-img1.png'); }
.bg2 { background-image: url('assets/tile-img2.png'); }
.bg3 { background-image: url('assets/tile-img3.png'); }
.bg4 { background-image: url('assets/tile-img4.png'); }
.bg5 { background-image: url('assets/tile-img5.png'); }


.panel {
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 2;
   border-right: 1px solid rgba(255, 255, 255, 0.916);
}

.panel:last-child {
  border-right: none;
}

.panel::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 50, 0);
  backdrop-filter: blur(0px);
  transition: 0.4s;
  z-index: 1;
}

.panel::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.4s ease;
  z-index: 1;
}

.panel:hover::before {
  backdrop-filter: blur(16px);

    background: rgba(39, 39, 39, 0.815);
  }

.content {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  z-index: 3;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content h3 {
  color: white;
  transition: transform 0.4s ease;
}

.content .desc {
  color: white;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.4s ease;
}

.content button {
  align-self: flex-start;
  white-space: nowrap!important;
}



.panel:hover .desc {
  opacity: 1;
  transform: translateY(0);
}

.panel:hover h3 {
  transform: translateY(-20px);
}

.panel:hover {
  filter: brightness(1.1);
}

@media (max-width: 768px) {

  .panels {
    flex-direction: column;
    height: auto;
  }

  .panel {
    width: 100%;
    height: 300px;
    flex: unset;
  }

  .bg-layer {
    display: none;
  }

  .panel:nth-child(6) { background-image: url('assets/tile-img1.png'); }
  .panel:nth-child(7) { background-image: url('assets/tile-img2.png'); }
  .panel:nth-child(8) { background-image: url('assets/tile-img3.png'); }
  .panel:nth-child(9) { background-image: url('assets/tile-img4.png'); }
  .panel:nth-child(10){ background-image: url('assets/tile-img5.png'); }

  .panel {
    background-size: cover;
    background-position: center;
  }

  .content .desc {
    opacity: 1;
    transform: translateY(0);
  }

  .content h3 {
    transform: none;
  }

  .panel::before {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(0,0,50,0.3);
  }
}


.logo-img {
  width: 150px;
  height: auto;
  object-fit: contain;
}


@media (max-width: 992px) {
  .logo-img {
    max-width: 60px;
  }
}

@media (max-width: 576px) {
  .logo-img {
    max-width: 80px;
  }
}









.nav-link.active {
  border-bottom: 4px solid #f0af8e;
  color: #f0af8e !important;
}

.nav-link:hover {
  border-bottom: 4px solid #f0af8e;
  color: #f0af8e !important;
}


buttons:hover{
  background-color: #EA6624 !important;
  color: white !important;
}

link:hover{
  margin-bottom: 1px solid #EA6624 !important;
}

.list li::marker{
  font-size: 30px;
}

.ol:hover{
     background-image: 
    linear-gradient(rgb(138,162,207), rgba(138, 162, 207, 0.527)),
    url('assets/phone.png');
    background-repeat: no-repeat;
    background-position: right center;
}

    .square {
      aspect-ratio: 1 / 1;
    }
