body{
    font-family: "Inter", Sans-serif;
}


.navbar-nav .nav-link{
    color: #3A4F82;
}

.navbar-nav .nav-link:hover{
    color: #781E2D;
}

.hero-section{
     background-image: url("images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.t1{
    color: #B51631;
    
}

.t2{
    color: #3a4f82;
}

.t3{
        color: #677190;
}

.btn1{
        background-color: #B51631;
        border: 1px solid #B51631;
}

.btn2{
    border: 1px solid #B51631;
    color: #B51631;
    
}

.t4{
    
    color: #0D1F56;

}


.btn-bg{
    background-color: #B51631;
}

.heading-clr{
    color: #3a4f82;
}

.info-clr{
    color: #677190;
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}






.col-bg {
 
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1; 
  border-radius: 20px;
}

.gradient-card {
  background: linear-gradient(180deg, rgba(181,22,49,0.8) 0%, rgba(58,79,130,0.8) 100%);
  z-index: 2; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
    min-height: 420px;
}


.overlap-sec {
  margin-top: -150px;  
  position: relative;
  z-index: 5;
}


.class-section {
  position: relative;
  z-index: 1;
}


.accordion-item {
  border: none;
  border-bottom: 1px solid #ddd;
}

.accordion-button::after {
  background-image: none !important; 
}

.accordion-button {
  background: transparent;
  box-shadow: none;
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #3a4f82;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  color: #c4002f;
  box-shadow: none;
}

.accordion-body {
  padding: 20px 40px;
  color: #677190;
  border-top: 1px solid #ddd;
}



.accordion-button::after {
  content: "+";
  font-size: 20px;
  margin-left: auto;
  transition: 0.3s;
}

.accordion-button:not(.collapsed)::after {
  content: "–";
  color: #B51631;
}



.accordion-body span {
  margin-top: 10px;
}

.accordion-body p {
  margin-bottom: 10px;
  line-height: 1.6;
}


.accordion-button:not(.collapsed) {
color: #B51631!important;
}

.accordion {
  border: 1px solid #ddd;
}

.accordion-button:hover,
.accordion-button:not(.collapsed):hover {
  color: #B51631 !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button:hover::after {
  color: #B51631;
}



#banner-sec {
  background: url("images/banner-img") center/cover no-repeat;
  min-height: 400px;
  position: relative;
}


#banner-sec::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(13, 31, 86, 0.6);
}


#banner-sec .container {
  position: relative;
  z-index: 2;
}


#banner-sec .btn:hover {
  background-color: #781E2D;
  border-color: #781E2D;
}

#review-sec {
  background: url("images/2rings") center/cover no-repeat;
}




#faq-section h3 {
    color: #3a4f82;
    font-weight: 700;
}

#faq-section .accordion{
  border: none!important;
}


#faq-section .accordion-item {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


#faq-section .accordion-button {
    background: white;
    color: #3A4F82;
    font-weight: 600;
    padding: 20px;
}


#faq-section .accordion-button:hover {
    background: linear-gradient(90deg, #b31217, #3b4371);
    color: white!important;
}


#faq-section .accordion-button:not(.collapsed) {
    background: linear-gradient(90deg, #b31217, #3b4371) !important;
    color: white !important;
    box-shadow: none;
}

#faq-section .accordion-button::after,
#faq-section .accordion-button::before {
    display: none !important;
    content: none !important;
}



#faq-section .accordion-body {
    color: #677190;
    line-height: 1.6;
}


.logos svg {
    width: 30px;
    height: 20px;
    fill: #fff;       
    cursor: pointer;
}

.logos {
    display: flex;
    align-items: center;
    gap: 12px;
}

.grad-box{
  border-radius: 20px;
}


