

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    background-color: rgb(255, 154, 154);
}

.logo-box{
 display: flex;
    flex-direction: row;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}


.s-box{
    display: flex;
    flex-direction: row;
}

#search {
    width: 900px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 20px;
    
    border-radius: 20px;
    margin-right: 0;
}

#search-img{
    margin-left: 0;
}
ul{
    list-style: none;
}

#pfp {
    font-weight: bold;
    cursor: pointer;
}

a{
    text-decoration: none;
     color: black;
}
li{
    margin: 80px 0px;
    font-size: 20px;
     padding: 10px  0px;
   
}

li:hover{
     background-color: rgb(255, 117, 117);
     border-radius: 20px;
}

nav{
    width: 300px;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    
}

main{
    display: flex;
    flex-direction: row;

}

.video-box{

display: flex;
flex-direction: row;


}



.thumbnail{
    width: 500px;
}

#title{
font-size: 25px;
}

#name{
    font-size: 20px;
}

.video-card{
   padding: 10px;
 
 margin: 50px 0px;
 margin-left: 50px;
 padding: 10px;
 border-radius: 20px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.video-card:hover {
    transform: scale(1.05); /* slightly bigger */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* stronger shadow */
}



footer {
     background-color: rgb(255, 154, 154);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    
}