    *{
            margin: 0;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100vw;
        font-family: "Roboto", sans-serif;
    }

.container{
    height: auto;
    width: auto;
    background-color: white;
    margin: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    border: 1px solid #00000047;
    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


   /* -webkit-box-shadow: 0px 4px 22px -7px #000000; 
box-shadow: 0px 4px 22px -7px #000000; */

    
}

.left img{
    width: 150px;
} 

#i2{
    margin-left: 10px;
}

.left{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    margin-left: 20px;
}

.right{
     display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
     padding: 30px;
     
     
}

#heading{
    font-size: 18px;
    text-align: center;

    letter-spacing: 1px;
    font-weight: 500;
    
    color:#2a1570;
    font-weight: bold;
    margin-bottom: 15px;
}

.right input{
    width: 500px;
    padding: 12px 10px;
    margin-left: 0;
    margin-right: 3px;
    background-color:  rgb(255, 255, 255);
    border-right: 1px solid rgb(239, 239, 239);
    border-top: 1px solid rgb(239, 239, 239);
    border-bottom: 1px solid rgb(239, 239, 239);
    padding: 12px 10px;
    border-left: none;
    margin-right: 0;
    font-size: 14px;
    outline-color: transparent;
}




#email{
    width:540px;
}

#label1{
    font-size: 18px;
    color:#2a1570;
    margin:  10px 0px;
}



#label2{
    font-size: 18px;
    color:#2a1570;
     margin:  10px 0px;

}

#btn{
    width: 100px;
    height: 35px;
    padding: 10px;
    background-color: rgb(99, 98, 231);
    color: white;
    cursor: pointer;
    font-size:14px;
    font-weight:500;
    border: 1px solid rgb(99, 98, 231);
    border-radius: 4px;
    text-align: center;
    font-weight: 500PX;
    margin-left: 400px;
    font-weight: 500;
}


i{
    background-color: rgb(233, 236, 239);
    padding: 9px;
    margin-right: 0;
    border-top: 1px solid rgb(206, 212, 218);
    border-bottom: 1px solid rgb(206, 212, 218);
    border-left: 1px solid rgb(206, 212, 218);
    

.fa-envelope ,.fa-lock{
       border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
}



.fa-eye,.fa-eye-slash{
    margin-left: 0;
    border-left: none;
    border-right: 1px solid rgb(206, 212, 218);
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;

}

.wrap{
    display: flex;
    flex-direction: row;
}

.end{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#fp{
    text-decoration:none !important;
    white-space: nowrap;
    color: rgb(99, 98, 231);
    
}
